<a href="https://colab.research.google.com/github/yhp2205/python/blob/main/3_%EC%A3%BC%EC%84%9D%EA%B3%BC%EB%93%A4%EC%97%AC%EC%93%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 주석

# 1-1 서브

# '#' 뒤에 한칸 띄어 코멘트를 넣어줍니다.

In [1]:
# 코멘트를 달아줍니다.
a = 3
b = 4

# a + b 연산을 수행 합니다
print(a + b)

7

## 2. indent

indent(들여쓰기)는 파이썬에서 굉장히 중요합니다.

단순히, 코드를 깔끔히 정리하기 위해서 들여쓰기를 하는 것은 아닙니다.

* 본인이 맞게 코드를 짰다고 한다면, indent는 colab에서 자동으로 해줄 것입니다.
* [tab]키를 한 번 누르면 indent가 1번 한 효과입니다.

**indent 옵션**을 space * 4 개로 바꿔봅시다

**[우측상단 톱니바퀴] - 편집기 - 들여쓰기 - 4 로 바꿔봅시다**

### 2-1. 콜론(:) 다음에 반드시 들여쓰기를 부여합니다.

In [2]:
a = 10
if a ==10:
  print('Hi')

Hi

In [3]:
def adder(a, b):
  result = a + b

  return result

myResult = adder(3, 4)
print(myResult)

7

In [4]:
# adder, suber, muler, diver
def suber(a, b, c = 0):
  return (a-b-c)

def muler(a, b):
  return (a * b)

def diver(a, b):
  return (a/b)

In [5]:
# 함수의 본문은 들여쓰기를 한번 적용합니다.
def my_func():
    print('indent가 자동으로 되나요?')

### 2-2. 들여쓰기가 잘못될 경우 에러가 발생합니다

In [6]:
a = 3
    b = 4

IndentationError: ignored

In [7]:
a = 3
  b = 4

IndentationError: ignored

## 3. 함수란 무엇일까요?


반복적으로 사용되는 부분을 묶어서,  
코드를 **재사용 가능**하도록 만들어 주는 코드 집합
함수에는 **input**이 있고,  
**output(return)**이 있습니다.  
정해진 로직(규칙)에 따라, input -> output으로 효율적으로 바꿔주는 역할을 합니다

In [8]:
a = 1
b = 2
c = 3

In [9]:
(a + b) * c

9

In [10]:
## 리턴값이 2개인 함수
def myCalc(a,b):
    return (a+b), (a-b)

op1 = 5
op2 = 3

In [11]:
# tuple로 리턴값 받기
result = myCalc(op1, op2)
print(result)
print(type(result))

(8, 2)
<class 'tuple'>

In [12]:
# tuple로 받지 않고 각각의 변수로 받기
resultAdd, resultSub = myCalc(op1, op2)
print(type(resultAdd), type(resultSub))

<class 'int'> <class 'int'>

In [13]:
def calc(a, b):
  result1 = a+b
  result2 = a-b
  return result1, result2

addResult, subResult = calc(3, 4)
print(addResult, subResult)

7 -1

In [14]:
# tuple로 받지 않고 각각의 변수로 받는데 2번째 return값은 '_'는 버리기
resultAdd, _ = myCalc(op1, op2)
print(resultAdd)

8

In [15]:
def calc(a, b, c):
    return (a + b) * c

In [16]:
def valueInput():
    op1 = input()
    print("op1:",op1)
    op2 = input()
    print("op2:",op2)
    return float(op1), float(op2)


## 리턴값이 4개인 함수
def myCalcAll(a,b):
    return (a+b), (a-b), (a*b), (a/b)

def resultDisplay(result):
    print("{}+{}={}".format(op1,op2,result[0]))
    print("{}-{}={}".format(op1,op2,result[1]))
    print("{}*{}={}".format(op1,op2,result[2]))
    print("{}/{}={}".format(op1,op2,result[3]))

In [17]:
# 4칙연산을 하는 함수를 만드시오. +,-,*,/
# 입력값은 키보드로 입력받으시오. 입력값의 갯수는 2개
# myCalc함수를 만드시오. 리턴값은 4개를 돌려주어야 합니다.

# 1. 키보드로 부터 값을 입력받기
op1, op2 = valueInput()

# 2. 사칙연산하기
result = myCalcAll(op1, op2)

# 3. 결과값 출력하기
resultDisplay(result)

6
op1: 6
9
op2: 9
6.0+9.0=15.0
6.0-9.0=-3.0
6.0*9.0=54.0
6.0/9.0=0.6666666666666666

In [18]:
# 명시적 형변환
a = 3.14
int_a = int(a)
int_a

3

In [19]:
result_list = list(result)
result_list

[15.0, -3.0, 54.0, 0.6666666666666666]

In [20]:
calc(1, 2, 3)

9

In [21]:
calc(2, 2, 3)

12

In [22]:
calc(3, 2, 3)

15

## 4.def **함수이름** (parameter1, parameter2, parameter...)**:**

In [23]:
def my_func(var1):
    print(var1)

In [24]:
my_func("What's up?")

What's up?

In [25]:
my_func(123)

123

## 5. 함수는 값을 리턴할 수 있고, 리턴이 없어도 됩니다.

In [26]:
# 리턴이 없는 경우
def my_func(a, b):
    print(a, b)

In [27]:
my_func(1, 10)

1 10

In [28]:
# 리턴이 있는 경우
def my_func(a, b):
    s = a + b
    return s

In [29]:
result = my_func(1, 10)
print(result)

11

## 6. parameter는 여러 개가 가능하고, 함수에 넘겨 줄 때 순서가 있습니다.

In [30]:
def my_func(a, b, c):
    return (a + b) * c

In [31]:
a = 10
b = 20
c = 3

In [32]:
(a + b) * c

90

In [33]:
my_func(c, b, a)

230

In [34]:
my_func(a, b, c)

90

### 1. 1~100000까지 더하는 함수를 만드시오.
### 2. 키보드로 두 값을 입력을 받습니다. 시작값,끝값을 입력을 받아서 그 사이의 숫자를 더하는 함수를 만드시오.

In [35]:
# 1. 1~100000까지 더하는 함수를 만드시오.

sValue = 1
eValue = 100000

sum = 0
for i in range(sValue,eValue+1):
    sum += i

print(sum)

5000050000

In [36]:
def rangeInput():
    start = input()
    print("start:",start)
    stop = input()
    print("stop:",stop)
    return int(start), int(stop)


## 리턴값이 4개인 함수
def sumAll(start,stop):
    sum = 0
    for i in range(start,stop+1):
        sum += i

    return sum

def resultDisplay(start,stop,result):
    print("start : {}".format(start))
    print("stop  : {}".format(stop))
    print("result: {}".format(result))

In [37]:
# 1. 키보드로 입력값을 받는 함수
start, stop = rangeInput()

# 2. 시작값부터 종료값까지 다 더하는 함수
result = sumAll(start, stop)

# 3. 결과값을 출력하는 함수
resultDisplay(start,stop,result)

7
start: 7
99
stop: 99
start : 7
stop  : 99
result: 4929

In [38]:
DEBUG = False

# 프로그램을 3개의 파트로 분리
# 1. 키보드로 부터 입력
def Keyinput():
  op1 = int(input("시작값을 입력하시오 : "))
  op2 = int(input("종료값을 입력하시오 : "))

  if DEBUG == True:
    print(type(op1), type(op2))

  return op1, op2


# 2. 시작값부터 종료값까지 다 더하기 함수
def sumAll(sValue, eValue):
  sum = 0
  for i in range(sValue, eValue+1):
    sum = sum + i
    if DEBUG == True:
      print(sum)

  return sum

def resultDisp(sValue, eValue, sum):
  print("start Value : {}".format(sValue))
  print("end   Value : {}".format(eValue))
  print("sum   Value : {}".format(sum))

In [39]:
sValue, eValue = Keyinput()
sum = sumAll(sValue, eValue)
resultDisp(sValue, eValue, sum)

시작값을 입력하시오 : 7
종료값을 입력하시오 : 400
start Value : 7
end   Value : 400
sum   Value : 80179